<!DOCTYPE html>
{% extends "index_for_user.html" %}
{% load static %}

{% block main_content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center py-2">
      <h4>Search Books</h4>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-8">
<form action="{% url 'books_search_for_user' %}" method="GET" class="d-flex mb-3">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search for books..." name="query" value="{{ query }}">
    <button class="btn btn-outline-primary" type="submit">Search</button>
</form>


      <p class="fw-bold">{{ books|length }} books found.</p>

      <div class="table-responsive" style="max-height: 400px;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Genre</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            {% for book in books %}
              <tr>
                <td>
                  <a href="{% url 'books_details_for_user' book.id %}" class="custom-text">
                    {{ book.title }}
                  </a>
                </td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>
                  <a href="{% url 'books_details_for_user' book.id %}" class="btn custom-btn btn-sm">View Details</a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="4" class="text-center">No books found.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
